<h1>Listing neurons</h1>

<table>
  <tr>
    <th>Body</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @neurons.each do |neuron| %>
  <tr>
    <td><%= neuron.body %></td>
    <td><%= neuron.url %></td>
    <td><%= link_to 'Show', neuron %></td>
    <td><%= link_to 'Edit', edit_neuron_path(neuron) %></td>
    <td><%= link_to 'Destroy', neuron, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Neuron', new_neuron_path %>
