!!!
%html
  %head
    %title BackboneSynesthesia
    = stylesheet_link_tag "application"
    = csrf_meta_tags
  %body
    #main
      .main_column
        = yield
      .side_column
      = javascript_include_tag "application"
      = render :partial => 'templates/neuron_list_template'
      = render :partial => 'templates/neuron_template'
    %script{:type => 'application/javascript'}
      jQuery(function(){window.list.fetch();});
    

