!!!
%html
  %head
    %title BackboneSynesthesia
    = stylesheet_link_tag    "application"
    = csrf_meta_tags
  %body
    #main
      .main_column
        = render :partial => "neurons/neurons_list"
      .side_column
        = yield
      = javascript_include_tag "application"
    

